# Ядро тестирования (обязательно обновить для работы с ast)
pytest>=8.3.0
pluggy>=1.5.0
exceptiongroup>=1.2.0

# Вспомогательные пакеты
attrs>=23.2.0
packaging>=24.0
tomli>=2.0.1; python_version < "3.11"

# Инструменты и отчеты
pytest-check>=2.3.1
pytest-json-report>=1.5.0
tabulate>=0.9.0

# Работа с данными и сетью
beautifulsoup4>=4.12.0
lxml>=5.3.0
PyYAML>=6.0.1
jsonschema>=4.21.0
deepdiff>=8.6.1
python-dotenv>=1.0.0
pycryptodome>=3.21.0
paramiko>=3.4.0
