name: Nightly CLI test for release-0.7

on:
  schedule:
    - cron: '14 1,13 * * *'

jobs:
  test-suite:
    uses: konveyor/kantra-cli-tests/.github/workflows/test-suite.yaml@release-0.7
    secrets: inherit
    with:
      tag: release-0.7
      tier: TIER0
